html {
	height: 100%;
}

body {
	font-family: 'Roboto Mono', monospace;

	background-color: #228285;
}

h1 {
	text-align: center;
	max-width: 60%;
	margin-left: 20%;
}

.container {
	padding-top: 10%;
	align-items: center;
	text-align: center;
}

#formOne {
	align-items: center;
	text-align: center;
}
.form-group {
	margin-left: 38%;
	max-width: 45%;
}

h2 {
	text-align: left;
	width: 50%;
	float: left;
}

#button {
	margin-left: 34%;
	max-width: 60%;
}

#userString {
	border-radius: 10em;
	border: none;
}

button {
	border-radius: 10em;
	border: none;
}

img {
	max-height: 20em;
	float: right;
}

#img-div {
	text-align: right;
	vertical-align: initial;
}
