html {
	height: 100%;
}

body {
	background-color: #228285;
}

h1 {
	text-align: center;
}

.form-group {
	margin-left: 40%;
	max-width: 42%;
}

h2 {
	text-align: left;
	width: 50%;
	float: left;
}

#button {
	margin-left: 35%;
	max-width: 60%;
}

button {
	border-radius: 10em;
	border: none;
}

img {
	max-height: 20em;
	float: right;
	/* align-items: center; */
}

#img-div {
	text-align: right;
	vertical-align: initial;
	/* position: absolute; */
}
